Raspberry/src/config/cloud/AWS/aws_config.py
Raspberry/src/config/cloud/AWS/*.pem

Raspberry/src/config/cloud/SCP/scp_config.py

Raspberry/*.pyc
Raspberry/*.py~
Raspberry/src/*.pyc
Raspberry/src/*.py~
Raspberry/src/**/*.pyc
Raspberry/src/**/*.py~
Raspberry/src/**/**/*.pyc
Raspberry/src/**/**/*.py~
Raspberry/src/**/**/**/*.pyc
Raspberry/src/**/**/**/*.py~

Raspberry/src/config/cloud/GCP/*
Raspberry/src/config/cloud/IBM/*
