Raspberry/src/AWS/root_ca.pem
Raspberry/src/AWS/aws_config.py
Raspberry/src/SCP/scp_config.py

Raspberry/*.pyc
Raspberry/*.py~
Raspberry/src/*.pyc
Raspberry/src/*.py~
Raspberry/src/**/*.pyc
Raspberry/src/**/*.py~

Raspberry/src/GCP/*
Raspberry/src/IBM/*
